.bg {
    background-image: url("../static-media/sahabee-landing-page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-wrapper {
    height: 95vh;
}

.nav-bar {
    height: 5vh;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stroke-black {
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
