---
name: Backup production database
on:
  schedule:
    - cron: "30 23 * * *" # every night 23:30 UTC = 03:00 ASIA/TEHRAN
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  backup-production:
    runs-on: ubuntu-20.04
    container:
      image: spy86/ansible:latest
    steps:
      - uses: actions/checkout@v2
      - name: Backup
        working-directory: deployment/ansible/
        run: ansible-playbook backup.yml -i inventory.yml --limit production
            --extra-vars "
            ansible_host=${{ secrets.SAHABEE_SERVER_IP }}
            ansible_user=${{ secrets.SAHABEE_SERVER_USER }}
            sudo_pass=${{ secrets.SAHABEE_SERVER_PASS }}
            proxy_server_host=${{ secrets.PROXY_SERVER_HOST }}
            proxy_server_user=${{ secrets.PROXY_SERVER_USER }}
            proxy_server_pass=${{ secrets.PROXY_SERVER_PASS }}
            "
      - name: Export backup file
        working-directory: deployment/ansible/
        run: echo "${{ secrets.PRODUCTION_BACKUP_FILE_PASS }}"
          | openssl enc -in backup.json -aes-256-cbc -pass stdin
          > backup.json.enc
      - uses: actions/upload-artifact@v2
        with:
          name: production-backup
          path: deployment/ansible/backup.json.enc