---
name: Restore production database backup
on:
  workflow_dispatch:
    inputs:
      backup_run_id:
        description: The run id of a successfull backup job. (It can be found from the jobs URL) (Leave blank for the latest backup)
        required: false
jobs:
  restore-production-backup:
    runs-on: ubuntu-20.04
    container:
      image: spy86/ansible:latest
    steps:
      - uses: actions/checkout@v2
      - name: Download backup
        run: |
          if [ -z "${{ github.event.inputs.backup_run_id }}" ]; then
            BACKUP_FILE_URL="https://nightly.link/emranbm/SahaBee/workflows/backup-production/master/production-backup.zip"
          else
            BACKUP_FILE_URL="https://nightly.link/emranbm/SahaBee/actions/runs/${{ github.event.inputs.backup_run_id }}/production-backup.zip"
          fi
          wget -O backup.zip $BACKUP_FILE_URL
      - name: Extract backup
        run: unzip backup.zip # Extracts backup.json.enc
      - name: Decrypt backup
        run: echo "${{ secrets.PRODUCTION_BACKUP_FILE_PASS }}"
          | openssl enc -in backup.json.enc -d -aes-256-cbc -pass stdin
          > deployment/ansible/backup.json
      - name: Restore backup
        working-directory: deployment/ansible/
        run: ansible-playbook restore.yml -i inventory.yml --limit production
          --extra-vars "
          ansible_host=${{ secrets.SAHABEE_SERVER_IP }}
          ansible_user=${{ secrets.SAHABEE_SERVER_USER }}
          sudo_pass=${{ secrets.SAHABEE_SERVER_PASS }}
          proxy_server_host=${{ secrets.PROXY_SERVER_HOST }}
          proxy_server_user=${{ secrets.PROXY_SERVER_USER }}
          proxy_server_pass=${{ secrets.PROXY_SERVER_PASS }}
          "
